#root {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
}

.content {
  margin-top: 20px;
}

.ban-list {
  margin-top: 20px;
}

.history {
  margin-top: 20px;
}

.dog-image {
  width: 50%;
  max-width: 100%; /* Ensures the image doesn't exceed its original size */
  max-height: auto%; /* Allows the image to scale proportionally */
}

/* App.css */
.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 20px;
  width: 100%;
}

.ban-history-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ban-list,
.history {
  width: 45%; /* Adjust the width as needed */
}

@media screen and (max-width: 768px) {
  .ban-history-container {
    flex-direction: column;
    align-items: center;
  }

  .ban-list,
  .history {
    width: 100%;
  }
}

.history-list {
  display: flex;
  flex-wrap: wrap;
}

.history-item {
  margin: 5px;
}

.history-item img {
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

